@import '@note-taking-app/design-system/theme.css';

@theme {
  --font-inter: 'Inter', sans-serif;
  --font-noto-sans: 'Noto Serif', serif;
  --font-source-code-pro: 'Source Code Pro', monospace;

  /* Application Colors */
  --color-dashboard-base: var(--theme-dashboard-base);
  --color-border-base: var(--theme-border-base);

  /* Auth Colors */
  --color-auth-base: var(--theme-auth-base);
  --color-auth-content-base: var(--theme-auth-content-base);
  --color-auth-border: var(--theme-auth-border);
  --color-auth-title: var(--theme-auth-title);
  --color-auth-text: var(--theme-auth-text);
  --color-auth-link: var(--theme-auth-link);
  --color-auth-redirect-link: var(--theme-auth-redirect-link);

  /* Mobile Navbar */
  --color-mobile-navbar-base: var(--theme-mobile-navbar-base);
  --color-mobile-navbar-text: var(--theme-mobile-navbar-text);

  /* Mobile Bottom Navigation */
  --color-mobile-bottom-navigation-base: var(
    --theme-mobile-bottom-navigation-base
  );
  --color-mobile-bottom-navigation-border: var(
    --theme-mobile-bottom-navigation-border
  );
  --color-mobile-bottom-navigation-icon-text: var(
    --theme-mobile-bottom-navigation-icon-text
  );
  --color-mobile-bottom-navigation-text: var(
    --theme-mobile-bottom-navigation-text
  );
  --color-mobile-bottom-navigation-icon-base-active: var(
    --theme-mobile-bottom-navigation-icon-base-active
  );
  --color-mobile-bottom-navigation-icon-text-active: var(
    --theme-mobile-bottom-navigation-icon-text-active
  );
  --color-mobile-bottom-navigation-text-active: var(
    --theme-mobile-bottom-navigation-text-active
  );

  /* Setting Navigation */
  --color-setting-navigation-base-active: var(
    --theme-setting-navigation-base-active
  );
  --color-setting-navigation-icon-text-active: var(
    --theme-setting-navigation-icon-text-active
  );
  --color-setting-navigation-text: var(--theme-setting-navigation-text);
  --color-setting-navigation-text-active: var(
    --theme-setting-navigation-text-active
  );

  /* Toast Colors */
  --color-toast-default-base: var(--theme-toast-default-base);
  --color-toast-default-title: var(--theme-toast-default-title);
  --color-toast-default-tag: var(--theme-toast-default-tag);
  --color-toast-default-border: var(--theme-toast-default-border);
  --color-toast-close-button-text: var(--theme-toast-close-button-text);
  --color-toast-success-base: var(--theme-toast-success-base);
}

@layer base {
  :root {
    --theme-dashboard-base: var(--color-system-neutral-0);
    --theme-border-base: var(--color-system-neutral-200);

    --theme-auth-base: var(--color-system-neutral-100);
    --theme-auth-content-base: var(--color-system-neutral-0);
    --theme-auth-border: var(--color-system-neutral-200);
    --theme-auth-title: var(--color-system-neutral-950);
    --theme-auth-text: var(--color-system-neutral-600);
    --theme-auth-link: var(--color-system-neutral-950);
    --theme-auth-redirect-link: var(--color-system-neutral-600);

    --theme-mobile-navbar-base: var(--color-system-neutral-100);
    --theme-mobile-navbar-text: var(--color-system-neutral-950);

    --theme-mobile-bottom-navigation-base: var(--color-system-neutral-0);
    --theme-mobile-bottom-navigation-border: var(--color-system-neutral-200);
    --theme-mobile-bottom-navigation-icon-text: var(--color-system-neutral-600);
    --theme-mobile-bottom-navigation-text: var(--color-system-neutral-600);
    --theme-mobile-bottom-navigation-icon-base-active: var(
      --color-system-blue-50
    );
    --theme-mobile-bottom-navigation-icon-text-active: var(
      --color-system-blue-500
    );
    --theme-mobile-bottom-navigation-text-active: var(--color-system-blue-500);

    --theme-setting-navigation-base-active: var(--color-system-neutral-100);
    --theme-setting-navigation-icon-text-active: var(--color-system-blue-500);
    --theme-setting-navigation-text: var(--color-system-neutral-700);
    --theme-setting-navigation-text-active: var(--color-system-neutral-950);

    /* Toast Colors */
    --theme-toast-default-base: var(--color-system-neutral-0);
    --theme-toast-default-title: var(--color-system-neutral-950);
    --theme-toast-default-tag: var(--color-system-neutral-950);
    --theme-toast-default-border: var(--color-system-neutral-200);
    --theme-toast-close-button-text: var(--color-system-neutral-400);
    --theme-toast-success-base: var(--color-system-green-500);
  }

  [data-theme='dark'] {
    --theme-dashboard-base: var(--color-system-neutral-950);
    --theme-border-base: var(--color-system-neutral-800);

    --theme-auth-base: var(--color-system-neutral-700);
    --theme-auth-content-base: var(--color-system-neutral-950);
    --theme-auth-border: var(--color-system-neutral-800);
    --theme-auth-title: var(--color-system-neutral-0);
    --theme-auth-text: var(--color-system-neutral-300);
    --theme-auth-link: var(--color-system-neutral-0);
    --theme-auth-redirect-link: var(--color-system-neutral-400);

    --theme-mobile-navbar-base: var(--color-system-neutral-800);
    --theme-mobile-navbar-text: var(--color-system-neutral-0);

    --theme-mobile-bottom-navigation-base: var(--color-system-neutral-950);
    --theme-mobile-bottom-navigation-border: var(--color-system-neutral-800);

    --theme-mobile-bottom-navigation-icon-text: var(--color-system-neutral-400);
    --theme-mobile-bottom-navigation-text: var(--color-system-neutral-400);
    --theme-mobile-bottom-navigation-icon-base-active: var(
      --color-system-neutral-700
    );
    --theme-mobile-bottom-navigation-icon-text-active: var(
      --color-system-blue-500
    );
    --theme-mobile-bottom-navigation-text-active: var(--color-system-blue-500);

    --theme-setting-navigation-base-active: var(--color-system-neutral-800);
    --theme-setting-navigation-icon-text-active: var(--color-system-blue-500);
    --theme-setting-navigation-text: var(--color-system-neutral-0);
    --theme-setting-navigation-text-active: var(--color-system-neutral-0);

    /* Toast Colors */
    --theme-toast-default-base: var(--color-system-neutral-800);
    --theme-toast-default-title: var(--color-system-neutral-0);
    --theme-toast-default-tag: var(--color-system-neutral-0);
    --theme-toast-default-border: var(--color-system-neutral-700);
    --theme-toast-close-button-text: var(--color-system-neutral-400);
    --theme-toast-success-base: var(--color-system-green-500);
  }
}
