@import '@note-taking-app/design-system/theme.css';

@theme {
  /* Separator */
  --color-separator-default-base: var(--theme-separator-default-base);

  /* Title */
  --color-title-default-text: var(--theme-title-default-text);
  --color-title-secondary-text: var(--theme-title-secondary-text);

  /* Text */
  --color-text-default-text: var(--theme-text-default-text);

  /* Option Selector */
  --color-option-selector-default-base: var(
    --theme-option-selector-default-base
  );
  --color-option-selector-default-border: var(
    --theme-option-selector-default-border
  );
  --color-option-selector-default-text: var(
    --theme-option-selector-default-text
  );
  --color-option-selector-default-description: var(
    --theme-option-selector-default-description
  );
  --color-option-selector-default-icon-base: var(
    --theme-option-selector-default-icon-base
  );
  --color-option-selector-default-check-base: var(
    --theme-option-selector-default-check-base
  );
  --color-option-selector-default-check-dot: var(
    --theme-option-selector-default-check-dot
  );
  --color-option-selector-default-check-base-active: var(
    --theme-option-selector-default-check-base-active
  );
  --color-option-selector-default-check-dot-active: var(
    --theme-option-selector-default-check-dot-active
  );
  --color-option-selector-default-base-active: var(
    --theme-option-selector-default-base-active
  );
  --color-option-selector-default-border-active: var(
    --theme-option-selector-default-border-active
  );

  /* Button Primary */
  --color-button-primary-base: var(--theme-button-primary-base);
  --color-button-primary-base-hover: var(--theme-button-primary-base-hover);
  --color-button-primary-text: var(--theme-button-primary-text);
  --color-button-primary-ring-active: var(--theme-button-primary-ring-active);
  --color-button-primary-ring-offset: var(--theme-button-primary-ring-offset);
  --color-button-primary-base-disabled: var(
    --theme-button-primary-base-disabled
  );
  --color-button-primary-text-disabled: var(
    --theme-button-primary-text-disabled
  );

  /* Button Ghost */
  --color-button-ghost-base: var(--theme-button-ghost-base);
  --color-button-ghost-base-hover: var(--theme-button-ghost-base-hover);
  --color-button-ghost-text: var(--theme-button-ghost-text);
  --color-button-ghost-ring-active: var(--theme-button-ghost-ring-active);
  --color-button-ghost-ring-offset: var(--theme-button-ghost-ring-offset);
  --color-button-ghost-base-disabled: var(--theme-button-ghost-base-disabled);
  --color-button-ghost-text-disabled: var(--theme-button-ghost-text-disabled);

  /* Button Outline */
  --color-button-outline-base: var(--theme-button-outline-base);
  --color-button-outline-base-hover: var(--theme-button-outline-base-hover);
  --color-button-outline-text: var(--theme-button-outline-text);
  --color-button-outline-text-hover: var(--theme-button-outline-text-hover);
  --color-button-outline-border: var(--theme-button-outline-border);
  --color-button-outline-border-hover: var(--theme-button-outline-border-hover);
  --color-button-outline-border-active: var(
    --theme-button-outline-border-active
  );
  --color-button-outline-ring-active: var(--theme-button-outline-ring-active);
  --color-button-outline-ring-offset: var(--theme-button-outline-ring-offset);
  --color-button-outline-base-disabled: var(
    --theme-button-outline-base-disabled
  );
  --color-button-outline-text-disabled: var(
    --theme-button-outline-text-disabled
  );

  /* Input Default */
  --color-input-default-base: var(--theme-input-default-base);
  --color-input-default-base-hover: var(--theme-input-default-base-hover);
  --color-input-default-border: var(--theme-input-default-border);
  --color-input-default-border-hover: var(--theme-input-default-border-hover);
  --color-input-default-border-error: var(--theme-input-default-border-error);
  --color-input-default-text: var(--theme-input-default-text);
  --color-input-default-placeholder: var(--theme-input-default-placeholder);
  --color-input-default-icon-base: var(--theme-input-default-icon-base);
  --color-input-ring-active: var(--theme-input-ring-active);
  --color-input-ring-offset: var(--theme-input-ring-offset);
  --color-input-default-base-disabled: var(--theme-input-default-base-disabled);
  --color-input-default-text-disabled: var(--theme-input-default-text-disabled);

  /* Label Primary */
  --color-label-primary-text: var(--theme-label-primary-text);
  --color-label-primary-text-disabled: var(--theme-label-primary-text-disabled);

  /* Tip Message Info */
  --color-tip-message-info-text: var(--theme-tip-message-info-text);

  /* Tip Message Error */
  --color-tip-message-error-text: var(--theme-tip-message-error-text);
}

@layer base {
  :root {
    /* Separator */
    --theme-separator-default-base: var(--color-system-neutral-200);

    /* Title */
    --theme-title-default-text: var(--color-system-neutral-950);
    --theme-title-secondary-text: var(--color-system-neutral-500);

    /* Text */
    --theme-text-default-text: var(--color-system-neutral-950);

    /* Option Selector */
    --theme-option-selector-default-base: var(--color-system-neutral-0);
    --theme-option-selector-default-border: var(--color-system-neutral-200);
    --theme-option-selector-default-text: var(--color-system-neutral-950);
    --theme-option-selector-default-description: var(
      --color-system-neutral-700
    );
    --theme-option-selector-default-icon-base: var(--color-system-neutral-0);
    --theme-option-selector-default-check-base: var(--color-system-neutral-200);
    --theme-option-selector-default-check-dot: var(--color-system-neutral-0);
    --theme-option-selector-default-check-base-active: var(
      --color-system-blue-500
    );
    --theme-option-selector-default-check-dot-active: var(
      --color-system-neutral-0
    );
    --theme-option-selector-default-base-active: var(
      --color-system-neutral-100
    );
    --theme-option-selector-default-border-active: var(
      --color-system-neutral-200
    );

    /* Button Primary */
    --theme-button-primary-base: var(--color-system-blue-500);
    --theme-button-primary-base-hover: var(--color-system-blue-700);
    --theme-button-primary-text: var(--color-system-neutral-0);
    --theme-button-primary-ring-active: var(--color-system-neutral-400);
    --theme-button-primary-ring-offset: var(--color-system-neutral-0);
    --theme-button-primary-base-disabled: var(--color-system-neutral-100);
    --theme-button-primary-text-disabled: var(--color-system-neutral-300);

    /* Button Ghost */
    --theme-button-ghost-base: transparent;
    --theme-button-ghost-base-hover: var(--color-system-neutral-200);
    --theme-button-ghost-text: var(--color-system-neutral-600);
    --theme-button-ghost-ring-active: var(--color-system-neutral-400);
    --theme-button-ghost-ring-offset: var(--color-system-neutral-0);
    --theme-button-ghost-base-disabled: var(--color-system-neutral-100);
    --theme-button-ghost-text-disabled: var(--color-system-neutral-300);

    /* Button Outline */
    --theme-button-outline-base: transparent;
    --theme-button-outline-base-hover: var(--color-system-neutral-100);
    --theme-button-outline-text: var(--color-system-neutral-950);
    --theme-button-outline-text-hover: var(--color-system-neutral-600);
    --theme-button-outline-border: var(--color-system-neutral-300);
    --theme-button-outline-border-hover: var(--color-system-neutral-100);
    --theme-button-outline-border-active: var(--color-system-neutral-950);
    --theme-button-outline-ring-active: var(--color-system-neutral-400);
    --theme-button-outline-ring-offset: var(--color-system-neutral-0);
    --theme-button-outline-base-disabled: var(--color-system-neutral-50);
    --theme-button-outline-text-disabled: var(--color-system-neutral-300);

    /* Input Default */
    --theme-input-default-base: var(--color-system-neutral-0);
    --theme-input-default-base-hover: var(--color-system-neutral-50);
    --theme-input-default-border: var(--color-system-neutral-300);
    --theme-input-default-border-hover: var(--color-system-neutral-300);
    --theme-input-default-border-error: var(--color-system-red-500);
    --theme-input-default-text: var(--color-system-neutral-950);
    --theme-input-default-placeholder: var(--color-system-neutral-500);
    --theme-input-default-icon-base: var(--color-system-neutral-500);
    --theme-input-ring-active: var(--color-system-neutral-500);
    --theme-input-ring-offset: var(--color-system-neutral-0);
    --theme-input-default-base-disabled: var(--color-system-neutral-50);
    --theme-input-default-text-disabled: var(--color-system-neutral-300);

    /* Label Primary */
    --theme-label-primary-text: var(--color-system-neutral-950);
    --theme-label-primary-text-disabled: var(--color-system-neutral-300);

    /* Tip Message Info */
    --theme-tip-message-info-text: var(--color-system-neutral-600);

    /* Tip Message Error */
    --theme-tip-message-error-text: var(--color-system-red-500);
  }

  [data-theme='dark'] {
    /* Separator */
    --theme-separator-default-base: var(--color-system-neutral-800);

    /* Title */
    --theme-title-default-text: var(--color-system-neutral-0);
    --theme-title-secondary-text: var(--color-system-neutral-500);

    /* Text */
    --theme-text-default-text: var(--color-system-neutral-0);

    /* Option Selector */
    --theme-option-selector-default-base: var(--color-system-neutral-950);
    --theme-option-selector-default-border: var(--color-system-neutral-800);
    --theme-option-selector-default-text: var(--color-system-neutral-0);
    --theme-option-selector-default-description: var(
      --color-system-neutral-300
    );
    --theme-option-selector-default-icon-base: var(--color-system-neutral-950);
    --theme-option-selector-default-check-base: var(--color-system-neutral-600);
    --theme-option-selector-default-check-dot: var(--color-system-neutral-800);
    --theme-option-selector-default-check-base-active: var(
      --color-system-blue-500
    );
    --theme-option-selector-default-check-dot-active: var(
      --color-system-neutral-800
    );
    --theme-option-selector-default-base-active: var(
      --color-system-neutral-800
    );
    --theme-option-selector-default-border-active: var(
      --color-system-neutral-700
    );

    /* Button Primary */
    --theme-button-primary-base: var(--color-system-blue-500);
    --theme-button-primary-base-hover: var(--color-system-blue-700);
    --theme-button-primary-text: var(--color-system-neutral-0);
    --theme-button-primary-ring-active: var(--color-system-neutral-400);
    --theme-button-primary-ring-offset: var(--color-system-neutral-950);
    --theme-button-primary-base-disabled: var(--color-system-neutral-100);
    --theme-button-primary-text-disabled: var(--color-system-neutral-300);

    /* Button Ghost */
    --theme-button-ghost-base: transparent;
    --theme-button-ghost-base-hover: var(--color-system-neutral-800);
    --theme-button-ghost-text: var(--color-system-neutral-300);
    --theme-button-ghost-ring-active: var(--color-system-neutral-400);
    --theme-button-ghost-ring-offset: var(--color-system-neutral-950);
    --theme-button-ghost-base-disabled: var(--color-system-neutral-100);
    --theme-button-ghost-text-disabled: var(--color-system-neutral-300);

    /* Button Outline */
    --theme-button-outline-base: transparent;
    --theme-button-outline-base-hover: var(--color-system-neutral-800);
    --theme-button-outline-text: var(--color-system-neutral-0);
    --theme-button-outline-text-hover: var(--color-system-neutral-0);
    --theme-button-outline-border: var(--color-system-neutral-600);
    --theme-button-outline-border-hover: var(--color-system-neutral-600);
    --theme-button-outline-border-active: var(--color-system-neutral-600);
    --theme-button-outline-ring-active: var(--color-system-neutral-600);
    --theme-button-outline-ring-offset: var(--color-system-neutral-950);
    --theme-button-outline-base-disabled: var(--color-system-neutral-50);
    --theme-button-outline-text-disabled: var(--color-system-neutral-300);

    /* Input Default */
    --theme-input-default-base: var(--color-system-neutral-950);
    --theme-input-default-base-hover: var(--color-system-neutral-800);
    --theme-input-default-border: var(--color-system-neutral-600);
    --theme-input-default-border-hover: var(--color-system-neutral-600);
    --theme-input-default-border-error: var(--color-system-red-500);
    --theme-input-default-text: var(--color-system-neutral-0);
    --theme-input-default-placeholder: var(--color-system-neutral-400);
    --theme-input-default-icon-base: var(--color-system-neutral-400);
    --theme-input-ring-active: var(--color-system-neutral-600);
    --theme-input-ring-offset: var(--color-system-neutral-950);
    --theme-input-default-base-disabled: var(--color-system-neutral-50);
    --theme-input-default-text-disabled: var(--color-system-neutral-300);

    /* Label Primary */
    --theme-label-primary-text: var(--color-system-neutral-0);
    --theme-label-primary-text-disabled: var(--color-system-neutral-300);

    /* Tip Message Info */
    --theme-tip-message-info-text: var(--color-system-neutral-400);

    /* Tip Message Error */
    --theme-tip-message-error-text: var(--color-system-red-500);
  }
}
